body{
  background-color: rgb(237, 236, 236);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
}
.res_frame {
  margin: 20px;
  justify-content: center;
}
.title1 {
  margin: 2% 10% 1.5% 1.5%;
}
.text1{
  margin: 20px 50px 10px 40px;
  text-align: justify;
}
.navbar {
  justify-content: space-evenly; 
  text-decoration: none;
  text-align: right;
  padding: 20px;
  padding-left: 20px;
}

.bgpic {
  margin: 15px auto;
  display: block;
  max-width: 100%;
  border-radius: 12px 12px 0px 0px ;
}

.text-overlay {
  position: absolute; 
  top: 25%;
  left: 50%;
  transform: translate(-100%, -30%);
  color: white;
  max-width: 100%;
}

.LRframe{
  display: flex;   
}
.left{
  width: 300px; 
  margin: 15px auto;
  height: 835px auto; 
}
.right {
  width: 423px; 
  margin: 0px;
  height: 846px;
  max-height: max-content;
  background-color: #31363F;
  border-radius: 0px 0px 12px 0px ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title1 {
font-size: 1.5em;
font-weight: bold;
line-height: 1.2;
margin: 0px 50px 10px 20px;
}

.text1 {
text-indent: 1em; 
}
.con_mar{
margin: 10px 30px 50px 30px;
}
tr,td{
padding: 10px 20px 10px 30px;

}
.title2R{
  font-size: 1.5em; 
  font-weight: bold;
  line-height: 1.2;
  margin: 30px 50px 10px 50px;
  color: aliceblue;
}

.ul1, .li1{
  color: aliceblue;
  margin: 10px 20px 10px 10px;
}
.LRframe {
  display: flex;
}

.left, .right {
  margin: 15px;
}

.res_frame {
  width: 768px; 
  background-color: rgb(255, 255, 255);
  padding-top: 1px;
}

@media screen and (max-width: 480px) {
  .left, .bgpic, .res_frame, .bgpic-container {
    width: 90%;
  }
  
  .bgpic {
    max-width: 80%;
  }

  .title1, .text1 , .ul1,.li1{
    font-size: 1em;
    margin: 10px 5px;
    text-align: justify;
  }

  .right {
    max-height: 100%;
    width: 90%;
    margin: 10px auto;
    border-radius: 0px 0px 12px 12px ;
  }

  .res_frame {
    width: 90%; 
    margin: 15px auto;
  }
}

@media screen and (max-width: 768px) {
  .LRframe {
    flex-direction: column;
  }
  .left, .right, .bgpic, .res_frame {
    width: 90%;
    margin: 0px auto;
  }
}
